.expForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding: 20px;
  background-color: darkgray;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.form-group {
  width: 75%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;  
  display: flex;
  flex-direction: column;
}
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .form-control {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
    color: #fff;
    background-color: darkcyan;
    border-color: darkcyan;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #005b79;
    border-color: #005b79;
  }
  